
<section>
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="youremail@mail.com" ngModel name="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" hintLabel="Should be at least 6 characters long.">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput placeholder="youremail@mail.com"
            ngModel
            name="password"
            #pwInput="ngModel"
            required>
        <mat-hint align="end">{{pwInput.value?.length}} / 6 </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
      </form>
</section>
